/* ===== SIDEBAR ===== */
.sidebar {
  width: 200px;
  background: #0a0a0a;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.3s ease;
}

/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

/* ===== TABLETTE ===== */
@media screen and (max-width: 1024px) {
  .sidebar {
    left: -200px;
  }

  .sidebar.active {
    left: 0;
  }

  .hamburger {
    display: block;
  }
}
