/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0d0d0e;
  --primary-dark: #11ee1c;
  --background: #f5f5f5;
  --white: #ffffff;
  --text: #333333;
  --border: #e0e0e0;
}

/* BODY */
body {
  font-family: system-ui, Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/* TITRES */
h1, h2, h3 {
  font-weight: 600;
}

/* LIENS */
a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* BOUTONS */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

/* CARTES (Dashboard, hôtels, stats) */
.card {
  background: var(--white);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--border);
}

/* DASHBOARD STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: rgb(15, 15, 15);
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 6px;
}

.login-form button {
  background: var(--primary);
  color: white;
  padding: 12px;
  font-weight: bold;
}
/* ========================= */
/* LISTE DES HOTELS */
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.hotel-card {
  width: 300px;
}

/* 📱 TABLETTE */
@media (max-width: 1024px) {
  .hotel-list {
    justify-content: center;
  }
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .hotel-list {
    flex-direction: column;
    align-items: center;
  }

  .hotel-card {
    width: 90%;
  }
}

/* ============================= */
/* STRUCTURE PRINCIPALE APP */
.app-container {
  display: flex;
}

/* ===== VERSION PC ===== */
.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 220px; /* largeur sidebar */
  transition: margin 0.3s ease;
}
@media (max-width: 1024px) {
  .main-content {
    margin-left: 0;
    padding-top: 90px; /* 🔥 espace propre sous hamburger */
  }
}
