/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2611e6;
  --primary-dark: #11ee1c;
  --background: #f5f5f5;
  --white: #ffffff;
  --text: #333333;
  --border: #e0e0e0;
}

/* BODY */
body {
  font-family: system-ui, Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/* TITRES */
h1, h2, h3 {
  font-weight: 600;
}

/* LIENS */
a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* BOUTONS */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

/* CARTES (Dashboard, hôtels, stats) */
.card {
  background: var(--white);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--border);
}

/* DASHBOARD STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: rgb(240, 8, 8);
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 6px;
}

.login-form button {
  background: var(--primary);
  color: white;
  padding: 12px;
  font-weight: bold;
}